---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="flex min-h-screen items-center justify-center">
    <div class="flex flex-col items-center gap-6 text-center lg:gap-8">
      <h1
        class="max-w-sm text-3xl font-medium leading-tight text-black sm:max-w-lg sm:text-5xl sm:leading-tight md:max-w-3xl md:text-6xl md:leading-tight lg:text-[4rem] lg:leading-tight"
      >
        404
      </h1>
      <p
        class="max-w-sm text-base sm:max-w-lg sm:text-lg md:max-w-lg lg:text-xl"
      >
        Oops! The page you're looking for doesn't exist.
      </p>
      <a
        href="/"
        class="flex items-center gap-2 pb-px shadow-custom1 transition-all hover:text-button-primary hover:shadow-none"
      >
        <svg
          class="size-4 shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"><path d="m15 18-6-6 6-6"></path></svg
        >
        Go back to homepage</a
      >
    </div>
  </div>
</Layout>
